name: Update Instance
run-name: Update '{% raw %}${{ inputs.INSTANCE_NAME }}{% endraw %}'

on:
  workflow_dispatch:
    inputs:
      INSTANCE_NAME:
        description: "Instance to update"
        required: true
        type: string
      CONFIG:
        description: "Config in JSON format to be merged with existing intance config"
        required: true
        type: string
      RUNNER_WORKFLOW_LABEL:
        description: 'The label of the runner workflow to run'
        required: false
        default: "{{ cookiecutter.runner_workflow_label }}"
        type: string

jobs:
  update-instance:
    permissions:
      contents: write
    name: Update Instance
    uses: open-craft/phd-cluster-template/.github/workflows/update-instance.yml@main
    secrets:
      SSH_PRIVATE_KEY: "{% raw %}${{ secrets.SSH_PRIVATE_KEY }}{% endraw %}"
    with:
      INSTANCE_NAME: "{% raw %}${{ inputs.INSTANCE_NAME }}{% endraw %}"
      CONFIG: "{% raw %}${{ inputs.CONFIG }}{% endraw %}"
      RUNNER_WORKFLOW_LABEL: "{% raw %}${{ inputs.RUNNER_WORKFLOW_LABEL }}{% endraw %}"
