name: Build Service Image

on:
  workflow_call:
    inputs:
      INSTANCE_NAME:
        description: "Instance to build"
        required: true
        type: string
      SERVICE:
        description: "Service to build"
        required: true
        type: string
      STRAIN_REPOSITORY:
        description: "Repository containing the cluster/strains"
        required: true
        type: string
      STRAIN_REPOSITORY_BRANCH:
        description: "Branch to clone the strain from"
        required: true
        type: string
      PICASSO_VERSION:
        description: "Picasso version"
        required: true
        type: string
      PHD_CLI_VERSION:
        description: "PHD CLI version"
        required: true
        type: string
      RUNNER_WORKFLOW_LABEL:
        description: "The label of the runner workflow to run"
        required: false
        type: string
        default: "ubuntu-latest"
      UPDATE_ENV_DIR:
        description: "Whether to update the env directory"
        required: false
        type: boolean
        default: true
    outputs:
      image_name:
        description: "Full image name (repo/name:tag)"
        value: ${{ jobs.build.outputs.image_name }}
      image_tag:
        description: "Image tag only"
        value: ${{ jobs.build.outputs.image_tag }}
    secrets:
      SSH_PRIVATE_KEY:
        description: "Private SSH key for accessing private repositories"
        required: true

jobs:
  build:
    name: Build Service
    uses: open-craft/picasso/.github/workflows/build.yml@kaustav/new_ghcr_test
    concurrency:
      group: build:${{ inputs.STRAIN_REPOSITORY }}:${{ inputs.STRAIN_REPOSITORY_BRANCH }}:${{ inputs.INSTANCE_NAME }}:${{ inputs.SERVICE }}
      cancel-in-progress: false
    permissions:
      packages: write
      contents: write
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    with:
      STRAIN_REPOSITORY: ${{ inputs.STRAIN_REPOSITORY }}
      STRAIN_REPOSITORY_BRANCH: ${{ inputs.STRAIN_REPOSITORY_BRANCH }}
      STRAIN_PATH: "instances/${{ inputs.INSTANCE_NAME }}"
      SERVICE: ${{ inputs.SERVICE }}
      IMAGE_TAG_PREFIX: "${{ inputs.INSTANCE_NAME }}-"
      USE_DYNAMIC_IMAGE_TAG: true
      ADD_RANDOM_SUFFIX_TO_IMAGE_TAG: true
      RANDOM_SUFFIX_LENGTH: "8"
      TIMESTAMP_FORMAT: "%Y%m%d"
      PICASSO_VERSION: ${{ inputs.PICASSO_VERSION }}
      PYTHON_VERSION: 3.12
      UPDATE_IMAGE_TAG_IN_REPO: true
      RUNNER_WORKFLOW_LABEL: ${{ inputs.RUNNER_WORKFLOW_LABEL }}

  update-env-dir:
    if: ${{ inputs.UPDATE_ENV_DIR }}
    name: Update env directory
    uses: open-craft/phd-cluster-template/.github/workflows/generate-env-dir.yml@gabor/experiment
    needs:
      - build
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    with:
      INSTANCE_NAME: ${{ inputs.INSTANCE_NAME }}
      STRAIN_REPOSITORY: ${{ inputs.STRAIN_REPOSITORY }}
      STRAIN_REPOSITORY_BRANCH: ${{ inputs.STRAIN_REPOSITORY_BRANCH }}
      RUNNER_WORKFLOW_LABEL: ${{ inputs.RUNNER_WORKFLOW_LABEL }}
