name: Build All Images
run-name: Build all services images for '${{ inputs.INSTANCE_NAME }}' on '${{ inputs.STRAIN_REPOSITORY_BRANCH }}' branch

on:
  workflow_call:
    inputs:
      INSTANCE_NAME:
        description: "Instance to build"
        required: true
        type: string
      STRAIN_REPOSITORY:
        description: "Repository containing the cluster/strains"
        required: true
        type: string
      STRAIN_REPOSITORY_BRANCH:
        description: "Branch to clone the strain from"
        required: true
        type: string
      PICASSO_VERSION:
        description: "Picasso version"
        required: true
        type: string
      PHD_CLI_VERSION:
        description: "PHD CLI version"
        required: true
        type: string
      RUNNER_WORKFLOW_LABEL:
        description: 'The label of the runner workflow to run'
        required: false
        type: string
        default: "ubuntu-latest"
    secrets:
      SSH_PRIVATE_KEY:
        description: "Private SSH key for accessing private repositories"
        required: true

jobs:
  build:
    name: Build ${{ matrix.service }} service
    uses: open-craft/phd-cluster-template/.github/workflows/build.yml@gabor/experiment
    strategy:
      matrix:
        service: ["openedx", "mfe"]
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    with:
      INSTANCE_NAME: ${{ inputs.INSTANCE_NAME }}
      SERVICE: ${{ matrix.service }}
      STRAIN_REPOSITORY: ${{ inputs.STRAIN_REPOSITORY }}
      STRAIN_REPOSITORY_BRANCH: ${{ inputs.STRAIN_REPOSITORY_BRANCH }}
      PICASSO_VERSION: ${{ inputs.PICASSO_VERSION }}
      PHD_CLI_VERSION: ${{ inputs.PHD_CLI_VERSION }}
      RUNNER_WORKFLOW_LABEL: ${{ inputs.RUNNER_WORKFLOW_LABEL }}
