name: Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Set cache ID
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: Deploy to GitHub Pages
        run: |
          cd docs
          uv venv
          uv pip install -r requirements.txt
          cd ..
          uv run mkdocs gh-deploy --force
